{% extends "main/base.html" %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/main.css' %}">

{% block content %}



<div style="text-align:center; margin-top: 30px;">
    <a href="{% url 'women' %}" style="padding: 15px 30px; background-color: pink; color: white; border-radius: 8px; text-decoration: none; margin-right: 20px;">Жіноче</a>
    <a href="{% url 'men' %}" style="padding: 15px 30px; background-color: lightblue; color: white; border-radius: 8px; text-decoration: none;">Чоловіче</a>
</div>

{% endblock %}