<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Головна — Магазин</title>
    <style>
        .product {
            display: inline-block;
            width: 220px;
            margin: 15px;
            padding: 10px;
            border: 1px solid #ccc;
            text-align: center;
        }
        .product img {
            max-width: 200px;
            height: auto;
        }
    </style>
</head>
<body>
    <h1>Товари</h1>
    {% for product in products %}
        <div class="product">
            {% if product.main_image %}
                <img src="{{ product.main_image.url }}" alt="{{ product.name }}">
            {% else %}
                <p>Немає фото</p>
            {% endif %}
            <h3>{{ product.name }}</h3>
            <p>{{ product.price }}</p>
            <a href="{% url 'product_detail' product.pk %}">Детальніше</a>

        </div>
    {% empty %}
        <p>Немає товарів</p>
    {% endfor %}
    <a href="{% url 'my_account' %}" style="
    display: inline-block;
    padding: 10px 20px;
    background-color: black;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
">Go to My Account</a>
 <a href="{% url 'cart' %}" style="
    display: inline-block;
    padding: 10px 20px;
    background-color: black;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
">Cart</a>
<a href="{% url 'women' %}" style="
    display: inline-block;
    padding: 10px 20px;
    background-color: black;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
">Women</a>
<a href="{% url 'men' %}" style="
    display: inline-block;
    padding: 10px 20px;
    background-color: black;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
">Men</a>
</body>
</html>
