{% extends "main/base.html" %}
{% load static %}

{% block content %}
<div class="auth-container">
    <h2>Привіт, друже!</h2>

    <form method="post">
        {% csrf_token %}

        <label>ЕЛЕКТРОННА ПОШТА:</label>
        <div class="email-edit">
            <span style="color: #888;">{{ email }}</span>
            <a href="{% url 'login_email' %}" class="edit-btn">РЕДАГУВАТИ</a>
        </div>

        <div class="input-wrapper">
            <input type="password" name="password" id="password" required>
            <label for="password">ПАРОЛЬ:</label>
            <button type="button" class="eye-btn" onclick="togglePassword('password')">
                <img src="{% static 'icons/close_eye.png' %}" alt="Показати" class="eye-img">
            </button>
        </div>

        {% if error %}
        <div class="error-text">{{ error }}</div>
        {% endif %}

        <button type="submit" class="submit-btn">УВІЙТИ</button>
    </form>

    <p class="switch-text">
        <a href="{% url 'password_reset' %}" class="plain-link">Забули пароль?</a>
    </p>
</div>

<div class="auth-logo">
    <img src="{% static 'icons/auth_logo.png' %}" alt="WEARO Logo">
</div>


<script>
    function togglePassword(fieldId) {
        const input = document.getElementById(fieldId);
        const btn = input.parentElement.querySelector(".eye-btn img");
        const isHidden = input.type === "password";

        input.type = isHidden ? "text" : "password";
        btn.src = isHidden ? "{% static 'icons/open_eye.png' %}" : "{% static 'icons/close_eye.png' %}";
        btn.alt = isHidden ? "Приховати" : "Показати";
    }
</script>
{% endblock %}