<h1>My Account</h1>
<ul>
  <li><a href="{% url 'my_orders' %}">My orders</a></li>
  <li><a href="{% url 'my_returns' %}">My returns</a></li>
  <li><a href="{% url 'need_help' %}">Need help?</a></li>
  <li><a href="{% url 'my_details' %}">My details</a></li>
  <li><a href="{% url 'address_book' %}">Address book</a></li>
  <li><a href="{% url 'payment_methods' %}">Payment methods</a></li>
  <li><a href="{% url 'social_accounts' %}">Social accounts</a></li>
  <li><a href="{% url 'sign_out' %}">Sign out</a></li>
</ul>

