{% extends "main/base.html" %}
{% load static %}

{% block content %}
<div class="reset-password-box">
    <h2>Забув пароль?</h2>
    <p>Підтвердіть свою адресу електронної пошти нижче, і ми надішлемо лист з посиланням на створення нового пароля</p>

    <form method="post">
        {% csrf_token %}
        <label><strong>ЕЛЕКТРОННА ПОШТА:</strong></label>
        <div class="email-edit">
            <span class="email-label">
                {{ email|default:"(не вказано)" }}
            </span>
            <a href="{% url 'login_email' %}" class="edit-btn">РЕДАГУВАТИ</a>
        </div>

        <button type="submit" class="submit-btn">СКИНУТИ ПАРОЛЬ</button>
    </form>

</div>

<div class="auth-logo">
    <img src="{% static 'icons/auth_logo.png' %}" alt="WEARO Logo">
</div>
{% endblock %}