.cart-container {
    max-width: 95%;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
}

.cart-item {
    display: flex;
    align-items: center;
    background: #fff;
    padding: 15px;
    margin-bottom: 15px;
    position: relative;
    height: 150px;

}

.cart-image img {
    width: 150px;
    height: auto;
    object-fit: cover;
}

.cart-info {
    line-height: 10px;
    margin-left: 15px;
    flex-grow: 1;
}

/*  Кнопка видалення */
.remove-form {
    position: absolute;
    top: 10px;
    right: 10px;
    margin: 0;
}

.remove-btn {
    color: white;
    border: none;
    cursor: pointer;
    line-height: 28px;
    text-align: center;
}

.home-btn {
    display: inline-block;
    padding: 10px 20px;
    ;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
}

.home-btn:hover {
    background-color: darkgreen;
}